# <font color='green'>Homework 4</font>

<div class="alert alert-block alert-warning">
<b>
University of Tehran<br>
Spring 2023<br>
Course: Machine Learning<br>
</div>


***

<div class="alert alert-block alert-success">
<b>Author:</b><br>
Name: Taban Soleymani <br />
Student Number: 810100377
</div>

***

# <span style="color:purple">Question 7 Part 2</span>

In [7]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display
from sklearn import datasets
from sklearn import preprocessing

In [20]:
df=pd.read_csv("/content/sample_data/H1.csv")
df.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus
0,0,342,2015,July,27,1,0,0,2,0,...,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out
1,0,737,2015,July,27,1,0,0,2,0,...,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out
2,0,7,2015,July,27,1,0,1,1,0,...,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out
3,0,13,2015,July,27,1,0,1,1,0,...,A,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out
4,0,14,2015,July,27,1,0,2,2,0,...,A,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out

In [21]:
df = df.replace(['January', 'February', 'March', 'April', 'May', 'June','July', 'August','September', 'October', 'November', 'December'],['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'])
df = df.replace(['RO', 'BB', 'HB', 'FB', 'AI', 'RO       ', 'BB       ', 'HB       ', 'FB       ', 'AI       ', 'SC       ', 'Undefined'],['1', '2', '3', '4', '5', '1', '2', '3', '4', '5', '6', '0'])

df_country = pd.get_dummies(df['Country'])
df = pd.concat([df, df_country], axis=1)
df_marketSegment = pd.get_dummies(df['MarketSegment'])
df = pd.concat([df, df_marketSegment], axis=1)
df_distributionChannel = pd.get_dummies(df['DistributionChannel'])
df = pd.concat([df, df_distributionChannel], axis=1)
df = df.drop(['Country', 'MarketSegment', 'DistributionChannel'], axis = 1)

df = df.replace(['A               ', 'B               ', 'C               ', 'D               ', 'E               ', 'F               ', 'G               ', 'H               ', 'I               ', 'L               ', 'P               '],['1', '2', '3', '4', '5', '6', '7', '8', '9', '12', '16'])

df_depositType = pd.get_dummies(df['DepositType'])
df = pd.concat([df, df_depositType], axis=1)
df_customerType = pd.get_dummies(df['CustomerType'])
df = pd.concat([df, df_customerType], axis=1)
df_reservationStatus = pd.get_dummies(df['ReservationStatus'])
df = pd.concat([df, df_reservationStatus], axis=1)
df = df.drop(['DepositType', 'CustomerType', 'ReservationStatus'], axis = 1)

In [22]:
y_train = df['ADR']
X_train = df.drop(['ADR'], axis=1)

from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

X_train = preprocessing.StandardScaler().fit_transform(X_train)

In [16]:
df=pd.read_csv("/content/sample_data/H2.csv")
df.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus
0,0,6,2015,July,27,1,0,2,1,0.0,...,A,A,0,No Deposit,0,Transient,0.0,0,0,Check-Out
1,1,88,2015,July,27,1,0,4,2,0.0,...,A,A,0,No Deposit,0,Transient,76.5,0,1,Canceled
2,1,65,2015,July,27,1,0,4,1,0.0,...,A,A,0,No Deposit,0,Transient,68.0,0,1,Canceled
3,1,92,2015,July,27,1,2,4,2,0.0,...,A,A,0,No Deposit,0,Transient,76.5,0,2,Canceled
4,1,100,2015,July,27,2,0,2,2,0.0,...,A,A,0,No Deposit,0,Transient,76.5,0,1,Canceled

In [17]:
df = df.replace(['January', 'February', 'March', 'April', 'May', 'June','July', 'August','September', 'October', 'November', 'December'],['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'])
df = df.replace(['RO', 'BB', 'HB', 'FB', 'AI', 'RO       ', 'BB       ', 'HB       ', 'FB       ', 'AI       ', 'SC       ', 'Undefined'],['1', '2', '3', '4', '5', '1', '2', '3', '4', '5', '6', '0'])

df_country = pd.get_dummies(df['Country'])
df = pd.concat([df, df_country], axis=1)
df_marketSegment = pd.get_dummies(df['MarketSegment'])
df = pd.concat([df, df_marketSegment], axis=1)
df_distributionChannel = pd.get_dummies(df['DistributionChannel'])
df = pd.concat([df, df_distributionChannel], axis=1)
df = df.drop(['Country', 'MarketSegment', 'DistributionChannel'], axis = 1)

df = df.replace(['A               ', 'B               ', 'C               ', 'D               ', 'E               ', 'F               ', 'G               ', 'H               ', 'I               ', 'K               ', 'L               ', 'P               '],['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '12', '16'])

df_depositType = pd.get_dummies(df['DepositType'])
df = pd.concat([df, df_depositType], axis=1)
df_customerType = pd.get_dummies(df['CustomerType'])
df = pd.concat([df, df_customerType], axis=1)
df_reservationStatus = pd.get_dummies(df['ReservationStatus'])
df = pd.concat([df, df_reservationStatus], axis=1)
df = df.drop(['DepositType', 'CustomerType', 'ReservationStatus'], axis = 1)

In [18]:
y_test = df['ADR']
X_test = df.drop(['ADR'], axis=1)

X_test = preprocessing.StandardScaler().fit_transform(X_test)

In [24]:
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.5)
y_rbf = svr_rbf.fit(X_train, y_train).predict(X_test)

In [25]:
results = {
    'y_real':y_test,
    'y_pred' :y_rbf,
    'error':y_rbf-y_test
          }
df = pd.DataFrame(results)

df.to_csv("/content/sample_data/results.csv")